@import "base";

header.main-header {
  background-image: url("../images/asfalt-dark.png");
  background-color: $accent-colour;
  color: #ffffff;
  width: 100vw;
  @include vertical-center;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 1em;

  /* Styling for logged-in username */
  span {
  font-weight: normal;
  }
}

/* Desktop styling */
@media only screen and (min-width: 1024px) {
  header.main-header {
    position: sticky;
    padding: 1em;
    margin: 8em 5% 0 5%;
    width: 30%;
  }
}