@import "base";

/* Styling for container */
.new-tweet {
  margin-bottom: 1em;

  form {
    /* Styling for form */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  label {
    padding-bottom: 0.5em;
    font-weight: 600;
  }
  
  textarea {
    /* Styling for text entry area */
    border-width: 0 0 4px 0;
    border-color: $font-colour;
    padding-bottom: 0.5em;
    height: 2em;
    line-height: 1.5em;
    width: 100%;
    resize: none;
    background-color: $background-colour;
    color: #000000;
    overflow: hidden;
  }
  
  textarea:focus {
    outline: none;
  }

  textarea::placeholder {
    font-weight: 600;
    color: #545149;
  }
}

/* Styling for error message */
div.tweet-error {
  width: 100%;
  border: 5px solid #ff0000;
  color: #ff0000;
  font-weight: 600;
  padding: 0.25em;
  margin: 0 0 0.5em 0;
  display: flex;
  justify-content: space-between;
  text-align: center;

  > p {
    padding: 0 0.5em;
  }
}

textarea.tweet-error {
  border-width: 0 0 4px 0;
  border-color: #ff0000;
  background-color: lightpink;
}


/* Styling for new tweet button */
.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 8px;
  border: 0;
  cursor: pointer;
}

.new-tweet button, .new-tweet output {
  font-family: $logo-font;
  margin-top: 0.5em;
}

/* For when counter is over the 140 character limit */
.over-limit {
  color: #ff0000;
}