/* Styling for tweet container */
article.tweet {
  width: 100%;
  padding: 1em;
  border: 4px solid #545149;
  margin: 0 0 2em 0;
  transition: 0.25s;

  // Styling for avatar and username in header
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;

    div {
      display: flex;
      align-items: center;

      > * {
        padding: 0 0.25em;
      }

      > img {
        height: 50px;
        width: 62px;
      }
    }

    > p {
      color: #D3D3D3;
      font-weight: 600;
    }
  }

  > p {
    overflow-wrap: break-word;
  }

  // Styling for time of tweet and buttons
  footer {
    display:flex;
    justify-content: space-between;
    font-size: 16px;
  
    div {
      color: #4056A1;
      width: 75px;
      display: flex;
      justify-content: space-between;
  
      i:hover {
        color: #D48E3F;
        cursor: pointer;
      }
    }
  }
}

article.tweet:hover {
  box-shadow: 8px 8px rgba(64, 86, 161, 0.5);
}