header.main-header {
  background-image: url("../images/asfalt-dark.png");
  background-color: #D48E3F;
  color: #ffffff;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 1em;
  
}
/* Styling for logged-in username */
header.main-header span {
  font-weight: normal;
}

/* Desktop styling */
@media only screen and (min-width: 1024px) {
  header.main-header {
    position: sticky;
    padding: 1em;
    margin: 8em 5% 0 5%;
    width: 30%;
  }
}
