/* Styling for container */
.new-tweet {
  margin-bottom: 1em;
}
.new-tweet form {
  /* Styling for form */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.new-tweet label {
  padding-bottom: 0.5em;
  font-weight: 600;
}
.new-tweet textarea {
  /* Styling for text entry area */
  border-width: 0 0 4px 0;
  border-color: #545149;
  padding-bottom: 0.5em;
  height: 2em;
  line-height: 1.5em;
  width: 100%;
  resize: none;
  background-color: #f4f1ec;
  color: #000000;
  overflow: hidden;
}
.new-tweet textarea:focus {
  outline: none;
}
.new-tweet textarea::placeholder {
  font-weight: 600;
  color: #545149;
}

/* Styling for error message */
div.tweet-error {
  width: 100%;
  border: 5px solid #ff0000;
  color: #ff0000;
  font-weight: 600;
  padding: 0.25em;
  margin: 0 0 0.5em 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
div.tweet-error > p {
  padding: 0 0.5em;
}

textarea.tweet-error {
  border-width: 0 0 4px 0;
  border-color: #ff0000;
  background-color: lightpink;
}

/* Styling for new tweet button */
.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 8px;
  border: 0;
  cursor: pointer;
}

.new-tweet button, .new-tweet output {
  font-family: "Bungee", cursive;
  margin-top: 0.5em;
}

/* For when counter is over the 140 character limit */
.over-limit {
  color: #ff0000;
}
